<table>
    <tr><th>Feld</th><th>Value</th></tr>
    <tr><td>Name</td><td>{{todo.name}}</td></tr>
    <tr><td>Status</td><td>{{todo.status}}</td></tr>
    <tr><td>Deadline</td><td>{{todo.deadline}}</td></tr>
    <tr><td>Description</td><td>{{todo.description}}</td></tr>
    <tr><td>Kategorie</td><td>{{todo.category}}</td></tr>
    </tr>
  </table>