<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Todolist</title>
  </head>
  <body>
    
    <nav class="navbar navbar-toggle-md navbar-light bg-faded">
      <a class="navbar-brand" href="{% url 'index' %}" >Todolist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
      
    </nav>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  
<div class="container">
<form  class="card" style="width: 18rem;" method="POST" action="/">
  <div class="card-body">
    <h5 class="card-title">
      Erstellen Sie bitte ein neues Todo!
    </h5>
    {% csrf_token %}
    {{form.title}}
  </div>
    
    <input class="btn btn-primary" type="submit" name="Create Task">
</form>

<ol>
{% for task in tasks %}
    <li>
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-sm">
          <a href="{% url 'update_task' task.id %}" class="btn btn-primary btn-lg " role="button">{{task}} </a>
          
        </div>
        <div class="col-sm">
          
          <a href="{% url 'delete' task.id %}" class="btn btn-danger btn-lg " role="button" >Delete</a>
          
        </div>
        
        {% if task.complete == True %}
        <div class="col-sm">
          
          <a href="{% url 'switch_status' task.id %}" class="btn btn-success btn-lg " role="button" >Erledigt</a>
          
        </div>
        {% else %}
        <div class="col-sm">
          <a href="{% url 'switch_status' task.id %}" class="btn btn-secondary btn-lg " role="button" >Erledigt</a>
        </div>
        {% endif %}
        <div class="col-sm">
          Erstellt am: {{task.created}}
        </div>
      </div>
    </div>
    </li>
{% endfor %}
</ol>
</div>

</body>
</html>