<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Liste</title>
</head>
<body>
  <h1>{{liste.name}}</h1>
<ul>
  {% for produkt in produkte %}
  <li>
    <p><a href="{% url 'produkt_bearbeiten' produkt.id %}"> {{produkt.name}}</a></p>
    <p>Menge {{produkt.menge}}</p>
    <p>Preis {{produkt.preis}}</p>
    
    
    
     
    <p>Kosten Summe: {{ gesamt|get_item:produkt.name }}</p>
    {% if produkt.status == True %}
    <div class="col-sm">
          
      <a href="{% url 'switch_status' liste.id produkt.id %}" class="btn btn-success btn-lg " role="button" >Erledigt</a>
      
    </div>
    {% else %}
    <div class="col-sm">
      <a href="{% url 'switch_status' liste.id produkt.id %}" class="btn btn-secondary btn-lg " role="button" >Nicht erledigt Erledigt</a>
    </div>
    {% endif %}
  </li>
  <form action="{% url 'produkt_loeschen' liste.id produkt.id %}" method="POST" >
    {% csrf_token %}
    <input type="submit" produkt_loeschen value="Produkt löschen">
  </form>
 
  
  {% endfor %}
  <li>
    <form action="{% url 'produkt_anlegen' liste.id %}" method="POST" >
      {% csrf_token %}
      <input type="text" name="produkt_name" placeholder="Name" required>
      
    <label for="produkt_menge"></label>
    <input type="number" name="produkt_menge" id="produkt_menge"  value="{{produkt.menge}}" required>

    <label for="produkt_preis"></label>
    <input type="number" name="produkt_preis" id="produkt_preis" step="0.01" value="{{produkt.preis}}" required>

      <input type="submit" value="Neues Produkt">
    </form>
    
  </li>
</ul>

<p>
  Kosten Gesamt: {{summe}} Euro
</p>


<a href="{% url 'overview' %}">Zurück zur Listenübersicht</a>

</body>
</html>