<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Overview</title>
</head>
<body>
  



<h1>Einkaufslisten</h1>
<h2>Listen</h2>
<div class="container mt-5">
<table class="table">

  <thead>
    <tr>
      
      <th scope="col">Listenname</th>
      <th scope="col">Löschen</th>
      
    </tr>
  </thead>  
  <tbody>
   {% for liste in listen %}
   <tr>
      
      <td><a href="{% url 'liste' liste.id %}">{{liste.name}}</a>   </td>
      <td><form action="{% url 'liste_loeschen' liste.id %}" method="POST" >
      {% csrf_token %}
      <input type="submit" liste_loeschen value="Liste löschen"  class="btn btn-danger">
      </form></td>
      
    </tr>
   {% endfor %}

  <tr>
    
      <td> <form action="{% url 'liste_anlegen' %}" method="post" class="btn btn-secondary">
    {% csrf_token %}
    <input type="text" name="liste_name" required>
    <input type="submit" value="Neue Liste" class="btn btn-primary"> </td>
  </tr>
  
</tbody>
</div>
</table>



</body>
</html>