<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Produkt {{produkt.name}}Bearbeiten</title>
</head>
<body>
    
<form action="{% url 'produkt_bearbeiten' produkt.id %}" method="POST">
    {% csrf_token %}
    <label for="produkt_name">Name</label>
    <input type="text" name="produkt_name" id="produkt_name" value="{{produkt.name}}"></br>

    <label for="produkt_menge">Menge</label>
    <input type="text" name="produkt_menge" id="produkt_menge" value="{{produkt.menge}}"></br>

    <label for="produkt_preis">Preis</label>
    <input type="text" name="produkt_preis" id="produkt_preis" value="{{produkt.preis}}"></br>

    <label for="produkt_status">Status</label>
    <input type="checkbox" name="produkt_status" id="produkt_status" value="{{produkt.status}}" {% if produkt.status %}checked{% endif %}></br>

    <label for="produkt_liste">Liste</label>
    <select name="produkt_liste" id="produkt_liste">
        {% for liste in listen %}

        <option value="{{liste.id}}" {% if liste == produkt.liste %}selected{% endif %}>{{liste.name}}</option>
        {% endfor %}

    </select>
    
    <a href="{% url 'liste' produkt.liste.id %}">Abbrechen</a>
    <input type="submit" value="Speichern">
</form>





</body>
</html>